#centent,#banner{
    display: none;
}
#mover{
  
  text-align: center;
}
#mover p{
color: #434343;
}
#mover .h1{
    font-size: 25px;
    font-family: 'Bold';
 
}
 #mover .title{
font-size: 18px;
}
#mover .img{
   margin: 30px 0 10px 0;
}
#mover .img img{
    width: 50%;
   
}

    #mover .msg{
        font-size: 15px;
        line-height: 30px;
    }

#mover>div{
    border-bottom: 1px dashed #7f7f7f;
    padding-bottom: 30px;
    margin-bottom: 25px;
}
 
#mover form p{
    width: 100%;
    margin-bottom: 10px;
}
#mover form input[type='text'], #mover form textarea{
    background: #e5e5e5;
    width: 100%;
    height: 40px;
    padding-left: 5px;
}
#mover form textarea{
    height: 250px;
}

#mover form input[type='submit']{
    width: 100%;
    height: 40px;
    background: #4c8f41;
    color: #fff;
}
 #mover
 #mover #mover
