#nav ul{
    position: absolute;
    top:-280px;;
    left: 0;
    z-index: 3;
    width: 100%;
    background: #fff;
}
#nav ul li{
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid #eee;
    width: 100%;
    float: none;
    
}
#nav div{
    text-align: center;
    float:none;
}
#nav img{
    width: 80px;
    margin: 5px auto !important;
}
#nav{
    border-bottom: 1px solid #eeeeee
}
#nav .menu{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: block;
}


#phone {
    margin-top: 75px;
}
#phone .title{
    font-size: 25px;
    color: #434343;
    font-family: 'Bold'
}
#phone .title_0{
    color: #434343;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}
#phone p{
    color: #535353;
    line-height: 26px;
    font-size: 15px;
}
#phone .bor{
    border-bottom: 1px dashed #858585;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#phone .self{
    width: 50%;
    background: #4c8f41;
    color: #fff;
   
    border-radius: 50px;
    padding: 10px 0;
    margin: 75px auto;
}
#phone img{
    width: 100%;
    margin-top: 45px;
}
#banenr,centent{
display: none;
}
