 * {
     margin: 0;
     padding: 0;
    box-sizing: border-box;
 }
@font-face {
    font-family: 'Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../iconfont/robotoregular-webfont.woff2') format('woff2'), url('../iconfont/robotoregular-webfont.woff') format('woff');
}
body,html{
    font-family: '微软雅黑'
}
li,ul {
	list-style: none
}
i,b{
    font-style: normal;
    font-weight: normal;
}
b,strong {
	font-weight: 700
}

img {
	border: 0
}

p {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
	color: #8f8f94;
	font-size: 14px
}

a {
	display: block;
	background-color: transparent;
	color: #434343;
	text-decoration: none
}

a:hover {
	outline: 0
}

a:active {
	color: #434343
}

textarea {
	overflow: hidden;
	resize: none
}
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../img/arrow.png") no-repeat scroll right center transparent;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
button {
	overflow: visible
}

button,select {
	text-transform: none
}

button,input,optgroup,select,textarea {
	margin: 0;
	color: inherit;
	font: inherit;
    border: none;
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

.aui-block {
	display: block!important
}

.aui-visibility {
	visibility: visible!important
}

.aui-hidden {
	display: none!important
}

* {
	box-sizing: border-box;
	outline: 0;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent
}

.aui-text-left {
	text-align: left
}

.aui-text-center {
	text-align: center
}

.aui-text-justify {
	text-align: justify!important
}

.aui-text-right {
	text-align: right
}

.aui-pull-right {
	float: right
}

.aui-pull-left {
	float: left
}

.aui-hide {
	display: none!important
}

.aui-show {
	display: block!important
}

.aui-invisible {
	visibility: hidden
}

.aui-inline {
	display: inline-block;
	vertical-align: top
}

.aui-white {
	background: #fff
}

.clear {
	zoom: 1
}

.clear:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: ""
}

.aui-font-size-12 {
	font-size: .6rem
}

.aui-font-size-14 {
	font-size: .7rem
}

.aui-padded-t-0 {
	padding-top: 0!important
}

.aui-padded-t-5 {
	padding-top: .25rem!important
}

.aui-padded-t-10 {
	padding-top: .5rem!important
}

.aui-padded-t-15 {
	padding-top: .75rem!important
}

.aui-padded-b-0 {
	padding-bottom: 0!important
}

.aui-padded-b-5 {
	padding-bottom: .25rem!important
}

.aui-padded-b-10 {
	padding-bottom: .5rem!important
}

.aui-padded-b-15 {
	padding-bottom: .75rem!important
}

.aui-padded-l-0 {
	padding-left: 0!important
}

.aui-padded-l-5 {
	padding-left: .25rem!important
}

.aui-padded-l-10 {
	padding-left: .5rem!important
}

.aui-padded-l-15 {
	padding-left: .75rem!important
}

.aui-padded-r-0 {
	padding-right: 0!important
}

.aui-padded-r-5 {
	padding-right: .25rem!important
}

.aui-padded-r-10 {
	padding-right: .5rem!important
}

.aui-padded-r-15 {
	padding-right: .75rem!important
}

.aui-margin-t-0 {
	margin-top: .25rem!important
}

.aui-margin-t-5 {
	margin-top: 0!important
}

.aui-margin-t-10 {
	margin-top: .5rem!important
}

.aui-margin-t-15 {
	margin-top: .75rem!important
}

.aui-margin-b-0 {
	margin-bottom: 0!important
}

.aui-margin-b-5 {
	margin-bottom: .25rem!important
}

.aui-margin-b-10 {
	margin-bottom: .5rem!important
}

.aui-margin-b-15 {
	margin-bottom: .75rem!important
}

.aui-margin-l-0 {
	margin-left: 0!important
}

.aui-margin-l-5 {
	margin-left: .25rem!important
}

.aui-margin-l-10 {
	margin-left: .5rem!important
}

.aui-margin-l-15 {
	margin-left: .75rem!important
}

.aui-margin-r-0 {
	margin-right: 0!important
}

.aui-margin-r-5 {
	margin-right: .25rem!important
}

.aui-margin-r-10 {
	margin-right: .5rem!important
}

.aui-margin-r-15 {
	margin-right: .75rem!important
}

.aui-col-5,.aui-col-xs-1,.aui-col-xs-2,.aui-col-xs-3,.aui-col-xs-4,.aui-col-xs-5,.aui-col-xs-6,.aui-col-xs-7,.aui-col-xs-8,.aui-col-xs-9,.aui-col-xs-10,.aui-col-xs-11 {
	position: relative;
	float: left
}

.aui-col-xs-12 {
	position: relative;
	width: 100%
}

.aui-col-xs-11 {
	width: 91.66666667%
}

.aui-col-xs-10 {
	width: 83.33333333%
}

.aui-col-xs-9 {
	width: 75%
}

.aui-col-xs-8 {
	width: 66.66666667%
}

.aui-col-xs-7 {
	width: 58.33333333%
}

.aui-col-xs-6 {
	width: 50%
}

.aui-col-xs-5 {
	width: 41.66666667%
}

.aui-col-xs-4 {
	width: 33.33333333%
}

.aui-col-xs-3 {
	width: 25%
}

.aui-col-xs-2 {
	width: 16.66666667%
}

.aui-col-xs-1 {
	width: 8.33333333%
}

.aui-col-5 {
	width: 20%
}

.aui-ellipsis-1 {
	white-space: nowrap;
    display: -webkit-box;
	white-space: normal!important;
	word-wrap: break-word;
	-webkit-line-clamp: 1;
	-moz-line-clamp: 1;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical
}

.aui-ellipsis-1,.aui-ellipsis-2 {
	overflow: hidden;
	text-overflow: ellipsis
}

.aui-ellipsis-2 {
	display: -webkit-box;
	white-space: normal!important;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical
}
.aui-ellipsis-3{
    display: -webkit-box;
	white-space: normal!important;
	word-wrap: break-word;
	-webkit-line-clamp: 3;
	-moz-line-clamp: 3;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical
}
.iconfont,.icon {
	-webkit-font-smoothing: antialiased;
}

.iconfont,.icon {
	-webkit-text-stroke-width: 0.2px;
}
.tr-l,tr-r,tr-t,tr-b{
    font-style: normal;
    line-height: normal;
}
.tr-l{
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid #838383;
    width: 0;height: 0;
    position: absolute;
    
}
.tr-b{
    border-bottom: 5px solid transparent;
    border-top: 5px solid #838383;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;height: 0;
    position: absolute;
    
}
.tr-r{
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid #838383;
    width: 0;height: 0;
    position: absolute;
    
}
.tr-t{
    border-bottom: 5px solid #838383;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;height: 0;
    position: absolute;
}
.swiper-pagination-bullet-active{
    background: #d7000f;
}
  .titleEN{
            font-size: 14px;
            color: #a0a0a0;
            margin-bottom: 40px;
            position: relative;
            font-family: 'Regular';
            font-weight: 500;
        }
        .titleEN:before{
             content: '';
            display: block;
            height: 1px;
            width: 40px;
            background: #a0a0a0;
            position: absolute;
            left: 50%;
            margin-left: -20px;
            bottom: -5px;
        }
        .title{
            font-size: 18px;
            color: #434343;
            font-weight: 500;
            margin-bottom: 5px;
        }

.MORE{
    background: #eeeeee;
    width: 50%;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    color: #434343;
    line-height: 45px;
}
.MORE i{
    color: #434343;
    font-size: 14px;
}
