#banner{
             height: 450px;
         }
         #banner .bg_box{
             background: url(../img/bg.png);
             background-repeat: repeat;
         }
        #banner .img{
             background: url(../img/adviser.png) no-repeat;
            background-position: center -350px
         }
         #banner div{
             height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
         }
         #banner .txt{
             z-index: 3;
             
         }
         #banner .txt img{
             width: 200px;
             height: 200px;
             border-radius: 50%;
             
             border: 5px solid #e7141a;
         }
         #banner .txt p{
             color: #fff;
             line-height: 30px;
             font-size: 18px;
             position: relative;
         }
         #banner .txt .firm{
             font-size: 16px;
         }
         #banner .txt .name{
             font-size: 22px;
             font-weight: 500;
         }
         #banner .txt span,.an span{
             position: absolute;
             top: 17px;
             right: 7px;
             display: block;
             width: 30px;
             height: 30px;
             background: url(../img/an.png) no-repeat;
             background-size: cover;
             z-index: 6;
         }
         #banner .txt .img{
               width: 200px;
             height: 200px;
                margin: 80px auto 15px;
            background: transparent;
         }
       
         #nav_ad{
             background: #eeeeee;
             line-height: 50px;
         }
         #nav_ad ul{
             width: 60%;
             min-width: 1024px;
             margin: 0 auto;
         }
         #nav_ad li{
             width: 16.666666%;
             position: relative;
         }
         #nav_ad li.active a{
             color: #e84c56
         }
         #nav_ad li.active:before{
             content: '';
            display: block;
            height: 2px;
            width: 100%;
            background: #e84c56;
            position: absolute;
            right: 0px;
            bottom:0;
         }
          #nav_ad li:before{
             content: '';
            display: none;
            height: 2px;
            width: 100%;
            background: #e84c56;
            position: absolute;
            right: 0px;
            bottom:0;
         }
         #nav_ad li:hover:before{
               display: block;
         }
         #nav_ad li:hover a{
             color: #e84c56
         }
         
         #main{
             width: 60%;
             min-width: 1024px;
             margin: 0 auto;
         }
         #main>div,#main form{
             border: 1px solid #eee;
             margin-bottom: 15px;
         }
         #main .tle{
             border-bottom: 1px solid #eee;
             line-height: 60px;
             padding-left: 25px;
             font-size: 24px;
             font-weight: 500;
             color: #434343;
         }
         #main img{
             width: 100%;
             display: block;
         }
         #main .msg>div,.product>div{
             padding: 10px 25px 0;    
         }
         #main .msg div p{
            margin-bottom: 15px;
             color: #838383;
             font-size: 16px;
         }
         #main .msg .order{
             padding-top: 48px;
             margin-bottom: 100px;
         }
         #main .msg .an{
             display: inline-block;
             padding-right: 50px;
             border-bottom: 2px solid #e7141a;
             line-height: 30px;
             padding-bottom: 10px;
             position: relative;
             font-size: 18px;
             font-weight: 500;
             color: #434343;
         }
         #main .msg i{
             color: #e7141a;
             font-size: 22px;;
         }
         #main .msg span{
             margin-right: 10px;
         }
         #main .msg .an span{
             top: 0;
             right: 0;
         }
         #main .msg .order:before{
              content: '';
            display: block;
            height: 150%;
            width: 1px;
            background: #eee;
            position: absolute;
            left: 0px;
            top:10%;
         }
         #main .Honor>div,#main .my>div,.news>div,form>div{
             padding: 25px;
         }
#main .Honor .img_box{
    height: 210px;
    position: relative;
}
#main .Honor .img_box>div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

}
#main .Honor ol{
    padding: 0 20px;
    position: relative;
    z-index: 3;
    top: 39%;
}
#main .Honor ol i{
    font-size: 26px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: url(../img/bg_1.png);
    background-repeat: repeat;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
}
         #main .adviser_bg{
/*             border: 5px solid #eee;*/
             height: 450px;
             background-image: url("../img/honor.png");
             background-size: contain;
             background-position: center center;
             background-repeat: no-repeat;
         }
         #main .img_box {
             margin:30px -1%;
             overflow: hidden;
         }
         #main .img_box li{
             width: 23%;
             margin: 0 1% 20px;
             float: left;
             border: 5px solid #eee;
         }
#main .Honor .img_box li{
    width: 259px;
    height: 205px;
    margin: 0 9px 20px;
    position: relative;
}
#main .Honor .img_box img{
    height: 100%;
}
#main .Honor .img_box li.active:before{
     content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.3;
    display: block;
}
         #main .more{
             border-top: 1px solid #eee;
             line-height: 40px;
             font-weight: 500;
             color: #434343;
             font-size: 20px;
             cursor: pointer;
         }
         #main .my>div>div{
             display: table-cell;
             vertical-align: middle;
         }
         #main .head{
             width: 260px;
         }
         #main .my .txt p{
             width: 700px;
             line-height: 30px;
             color: #434343;
         }
         #main .my .txt{
             padding-left: 20px;
         }
         #main .my h1{
             margin-bottom: 20px;
             font-weight: 500;
             font-size: 20px;
         }
         #main .mymsg{
             margin-top: 20px;
         }
         #main .my .img_box{
             margin: 0 -1%;
         }
         #main .my .img_box li{
             margin-bottom: 20px;
         }
         .photo{
             margin:30px 0;
             padding-top: 20px;
             border-top: 1px solid #eee;
             line-height: 60px;
           
             font-size: 24px;
             font-weight: 500;
             color: #434343;
         }
         .product .box a{
             width: 30%;
             float: left;
              padding: 20px 20px 30px 20px;
             margin: 20px 1.6%;
              transition: all .6s;
    -webkit-transition: all .6s;
         }
   
        .product .box a:hover{
              
             box-shadow: 0px 0 10px #888;
              -webkit-transform:  scale(1.05);
    -moz-transform:  scale(1.05);
    transform: scale(1.05);
            z-index: 3;
         }
         .product>div{
             
             margin: 0 -1.5%;
         }
         .product h1{
             font-size: 20px;
             color: #434343;
             font-weight: 500;
             padding: 15px 0;;
         }
         .product .age{
             font-size: 13px;
             color: #909090;
             margin-bottom: 15px;
         }
         .product .money{
             font-size: 20px;
             font-weight: 500;
             color: #d7000f;
         }
         .product .MORE{
             color: #434343;
             font-weight: 500;
             font-size: 18px;
             position: relative
         }
         .product .MORE:before{
               content: '';
            display: block;
            height: 100%;
            width: 1px;
            background: #434343;
            position: absolute;
            left: -20px;
            top:0%;
         }
         .product .MORE i{
             padding-left: 20px;
         }
         .product .mor{
             margin: 50px 0;
         }
         .product .mor a{
             display: inline;
             
             padding: 10px 30px;
             background: #eeeeee;
             border-radius: 30px;
             color: #000;
             float: none;
         }
         .news>div>a{
             border-bottom: 1px dashed #d2d2d2;
             line-height: 50px;
             margin-bottom: 15px;
         }
         .news a p{
             color: #838383;
             font-size: 16px;
             width: 750px;
         }
         .news a:hover p{
             color: #d7000f;
         }
         .news time{
             color: #d7000f;
             font-size: 16px;
         }
         .news .mor{
             margin-top: 60px;
         }
         .news .mor a{
             display: inline;
             padding: 10px 30px;
             background: #eeeeee;
             border-radius: 30px;
             
         }
         form>div{
             width: 700px;
             margin: 0 auto;
         }
         #form input{
             background: #f6f6f6;
             height: 45px;
             width: 100%;
             padding-left: 10px;
         }
         #form p i{
             color: #d7000f;
             font-size: 1.6rem;
             margin:0 5px;
         }
         form div p{
             line-height: 30px;
             margin-bottom: 10px;
             margin-top: 25px;
             font-size: 20px;
             color: #434343
         }
         form textarea{
             height: 500px;
             width: 100%;
              background: #f6f6f6;
            padding-left: 10px;
         }
         #form input[type='submit']{
             background: #e7141a;
             color: #fff;
             margin-top: 20px;
         }
#Magnifier{
    width:1100px;
    height: 750px;
    background: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 15;
    margin-left: -550px;
    margin-top: -375px;
    display: none;
}
#Magnifier>div{
     width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
#Magnifier li{
    position: absolute;
    top: 45%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
     background: url(../img/bg_1.png);
    background-repeat: repeat;
    line-height: 40px;
    text-align: center;
}
#Magnifier li i{
    font-size: 30px;
    color: #fff;
}
#Magnifier .first{
    left: 10px;
}
#Magnifier .last{
    right: 10px;
}
#Magnifier_bg{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.7;
    display: none;
    z-index: 14;
}