 #banner .img{
             background: url('../img/comlist.png') no-repeat;
         }
         #main{
             width: 60%;
             min-width: 1024px;
             margin: 110px auto 100px;
         }
         #search{
             margin: 50px 0;
         }
         #main .search{
         border: 1px solid #d7000f
     }
     #main .search span{
         background: #d7000f;
         color: #fff;
         line-height: 30px;
         display: inline-block;
         padding: 0 10px;
         margin-right: 0;
     }
          #sort {
        display: inline-block;
        overflow: hidden;
       
    }
    #sort span{
        margin-right: 45px;
        line-height: 30px;
        font-size: 20px;
        color: #838383;
        cursor: pointer;
        position: relative;
    }
    #sort span:before{
        content: '';
        display: block;
        height: 60%;
        width: 1px;
        background: #e5e5e5;
        position: absolute;
        left: -27px;
        top: 20%;
    }
         #sort a{
             display: inline;
         }
    #sort span i.active{
        color: #e7141a
    }
         #main .firm{
             margin: 0 -1.7%;
         }
         #main .firm img{
            height: 100px;
            
         }
         #main .firm .firm_box{
             width: 30%;
             margin: 0 1.6%;
             float: left;
             margin-bottom: 35px;
            border-bottom: 2px solid transparent;
         }
          #main .img_box{
             padding: 20px;
              border: 1px solid #eee;
               transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
         }
         #main .txt{
             padding-left: 20px;
             margin: 20px 0 30px 0;
              position: relative;
         }
         #main .lebel{
             margin-right: 20px;
             font-size: 16px;
             position: relative;
         }
         #main .lebel_p{
             font-size: 16px;
         }
         #main .lebel:before{
             content: '';
            display: block;
            height: 5px;
            width: 5px;
             border-radius: 50%;
            background: #d7000f;
            position: absolute;
            right: -13px;
            top: 40%;
         }
         #main .lebel:last-child:before{
             display: none;
         }
         #main .red{
             color: #434343;
             margin-bottom: 10px;
             font-weight: 500;
             font-size: 20px;
         }
         #main .firm .icon{
             position: absolute;
             right: 0;
             top: 3px;
             width: 30px;
             height: 30px;
             border-radius: 50%;
             border: 1px solid #eee;
             line-height: 30px;
             background: #fff;
         }
         #main .firm .icon i{
             font-size: 14px;
             color: #c9c9c9;
         }
         #main .firm .firm_box:hover{
              border-bottom: 2px solid #d7000f;
         }
         #main .firm .firm_box:hover .img_box{
             box-shadow: 0px 0 10px #888;
         }
         #main .firm .firm_box:hover .red{
             color: #d7000f
         }
         #main .firm .firm_box:hover .icon{
             background: #d7000f
         }
         #main .firm .firm_box:hover .icon i{
             color: #fff
         }