
#banner img{
    width:100%;
    margin-top:122px;
}
#section{
    padding:20px 10%;
}
#section .p1{
    font-size:14px;
    text-align: center;
    line-height: 20px;
    margin:0;
}
#section .p4{
    margin-bottom:50px;
}
#section .p4 span{
    display: inline-block;
    width:20px;
    border-bottom:2px solid #f1f1f1; 
    margin-top:5px;
}
#section .p2{
    margin-top:30px;
}
#section .p3{
    line-height: 25px;
}
#section .p3 span:first-child{
    padding-left:0;
    border:0;
    color:#fa0c0c;
}
#section .p3 span{
    margin-right:20px;
    padding-left:20px;
    border-left:1px solid #f1f1f1;
    cursor: pointer;
}
#section .icon-fangdajing{
    background-color:#fa0c0c;
    color:#fff;
    padding:1px 10px;
    font-size:12px;
    float:right;
    cursor:pointer;
}
#section .serch{
    border: 1px solid #fa0c0c;
    line-height: 25px;
    float:right;
    font-size:12px;
    padding-left: 5px;
    
}
#section .list{
    padding:30px 0;
    overflow: hidden;
}
#section .list .icon-dian-copy-copy-copy{
    color:#fa0c0c;
}
#section .list li{
    float:left;
    margin-left:30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-bottom: 3px solid transparent;
}
#section .list li:hover .list_p1{
    color:#d8000f;
}
#section .list li:hover img{
    box-shadow: 2px 2px 3px 3px #f1f1f1;
}
#section .list li img{
    width:300px;
    height:auto;
    border: 1px solid #f1f1f1;
}
#section .list li .list_p1{
    line-height: 30px;
    text-align: left;
    padding:0 10px;
    margin:0;
}
#section .list li .list_p1 i{
    float:right;
}
#section .list li .list_p2{
    text-align: left;
    margin:0 10px;
    font-size:12px;
    
}
#section .list li:hover{
    border-bottom: 3px solid #fa0c0c;
}
/*#section .list .col-md-4 {
    text-align: center;
}
#section .list .col-md-4 img{
    width:250px;
    height:auto;
    border: 1px solid #f1f1f1;
}
#section .list .col-md-4 .list_p1{
    line-height: 30px;
    text-align: left;
    padding:0 30px;
    margin:0;
}
#section .list .col-md-4 .list_p1 i{
    float:right;
}
#section .list .col-md-4 .list_p2{
    text-align: left;
    margin:0 30px;
    font-size:12px;
    border-bottom: 3px solid #fa0c0c;
}
#section .list .col-md-4 .list_p2 i{
    color:#fa0c0c;
}
*/
#section .page{
    text-align:center;
    line-height: 25px;
    padding:100px 0;
}
#section .page i{
    border:1px solid #f1f1f1;
    width:25px;
    display: inline-block;
}
#section .page span{
    border:1px solid #f1f1f1;
    display: inline-block;
    width:25px;
}