body{
    background: #fff;
}
#nav .wrap,#header .wrap{
    min-width: 1552px;   
}
#nav .logo{
    width: 24%;
     line-height: 80px;
}
#nav .logo p{
  display: inline;
    position: relative;
    color: #595959;
    padding-left: 10px;
}
#nav .logo p:before{
     content: '';
    display: block;
    height: 80%;
    width: 1px;
    background: #595959;
    position: absolute;
    top: 10%;
    left: 5px;
}
#nav img{
    width: 30%;
    vertical-align: middle;
     line-height: 80px;
    display: inline-block;
}
#nav ul{
   width: 76%;
    text-align: right;
}
#nav .wrap>ul>li {
    line-height: 80px;
    display: inline-block;
    margin: 0 2%;
    
    text-align: center;
 
}
#nav ul li.search{
    width: 18%;
    position: relative;
    margin-left: 0 2%;
}
#nav .wrap>ul>li>a>i{
    position: absolute;
    top: 2px;
    right: -18px;
    transition: all 0.6s;
-webkit-transition: all 0.6s;
    line-height: normal;
}
#nav ul li.search i{
     position: absolute;
    right: 3px;
    top: 0;
}
#nav ul li a{
    display: inline;
     position: relative;
}
#nav .wrap>ul>li:hover >a{
    color: #d7000f;
}
#nav .wrap>ul>li:hover .icon-xiangshang{
    color: #d7000f;
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
   -moz-transform: rotateZ(180deg);
}
#nav ul li input{
width: 100%;
   height: 30px;
    border-bottom: 1px solid #d2d2d2;
    
}
#nav .nav_product ul{
   width: 100%;
    position: absolute;
   left: 0;
    z-index: 4;
    padding: 40px 0 20px 0;
    background: #eeeeee;
    display: none;
     transition: all .6s;
-webkit-transition: all .6s;
}
#nav .nav_product:hover ul{
    display: block;
}
#nav .nav_product ul a{
    display: inline-block;
   padding-right: 14%;
    padding-bottom: 15px;
}
#nav .nav_product ul a:hover{
    color: #d7000f
}
#nav .nav_product ul li{
    width: 60%;
    margin: 0 auto;
}
#nav .nav_product ul li{
    line-height: normal;
}
#nav .nav_product ul h3{
    font-size: 14px;
    padding-bottom: 15px;
    color: #434343;
    position: relative;
   
}
#nav .nav_product ul h3:after{
    content: '';
    display: block;
    height: 40%;
    width: 5px;
    position: absolute;
    background: #000000;
    left: -12px;
    top: 7%;
}
#nav .nav_product ul .bor:before{
   
      content: '';
    display: block;
    height: 80%;
    width: 5px;
    position: absolute;
     border-left: 1px dashed #c7c7c7;
    right: 10%;
    top: 10%;
}
#nav .nav_product ul .bor:after{
      content: '';
    display: block;
    height: 80%;
    width: 5px;
    position: absolute;
     border-left: 1px dashed #c7c7c7;
    left: -16%;
    top: 10%;
}
#nav .nav_product ul div:hover h3{
    color: #d7000f;
}
#nav .nav_product ul div:hover h3:after{
    background: #d7000f;
}
#nav .new{
    position: relative;
}
#nav .new ul{
    position: absolute;
    z-index: 4;
    left: -20px;
    width: 225px;
    border: 1px solid #e5e5e5;
    background: #eee;
    text-align: center;
    display: none;
}
#nav .new:hover ul{
    display: block;
}
#nav .new ul a{
    display: block;
    line-height: 50px;
    position: relative;
    color: #838383
}
#nav .new ul i{
    color: #838383;
}
#nav .new ul a:before{
     content: '';
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    background: #e5e5e5;
    left: 0;
    bottom: 0;
}
#nav .new ul a:hover{
    color: #e7161a
}
#nav .new ul a:hover i{
    color: #e7161a
}
#section{
    margin-top:122px;
    padding:20px 10%;
}
#section .scanner{
    border: 1px solid #f1f1f1;
    padding:10px;
}
#section .scanner .col-md-3 .img1 {
    width: 200px;
    height:200px;
}
#section .scanner .col-md-6 .list_title{
    font-size:18px;
    color:#fa0c0c;
    font-weight: bold;
}
#section .scanner .col-md-6 p:nth-of-type(2),#section .scanner .col-md-6 p:nth-of-type(3){
    font-size: 12px;
}
#section .scanner .col-md-6 p:nth-of-type(2) span ,#section .scanner .col-md-6 p:nth-of-type(3) span{
    font-size: 14px;
    color:#434343;
    font-weight: bold;
}
#section .scanner .col-md-6 p:nth-of-type(2) i:nth-of-type(2),#section .scanner .col-md-6 p:nth-of-type(3) i:nth-of-type(2){
    color:#434343;
    margin-left:30px;
}
#section .scanner .col-md-6 p:nth-of-type(4){
    color:#434343;
    font-size:12px;
}
#section .scanner .col-md-6 p:nth-of-type(4) span{
    color:#434343;
    font-size:14px;
    font-weight: bold;
}
#section .scanner .col-md-3:last-child{
    text-align: center;
    border-left:1px solid #f1f1f1;
    padding:10px 0;
    margin:20px 0;
}
#section .scanner .col-md-3 p{
    color:#fa0c0c;
    font-size:16px;
    font-weight: bold;
    text-align: center;
}
#section .scanner .col-md-3 .img2{
    width:100px;
    height:100px;
}
#section .classify{
    margin-top:30px;
    line-height: 30px;
    overflow: hidden;
}
#section .classify a:first-child{
    margin-left: 0;
    padding-left: 0;
    color:#fa0c0c;
}
#section .classify a{
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #f1f1f1;
    float:left;
    color:#8f8f94;
    cursor: pointer;
}
#section .classify a:hover{
    text-decoration: none;
}
#section .classify a:visited{
    color:#fa0c0c;
}
#section .detail span{
    border-left:3px solid #fa0c0c;
    padding-left:10px;
    color:#434343;
}
#section .content{
    border:1px solid #f1f1f1;
    padding:10px;
}
#section .content .content1 span{
    margin-right:50px;
    color:#434343;
}
#section .card .col-md-3,#section .card .col-md-2,#section .card .col-md-7{
    text-align:center;
    line-height: 50px;
    height:50px;
    background-color:#fafafa;
    border-left:1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}
#section .card .col-md-7 p{
    font-size:12px;
    line-height:20px;
    margin:0;
}
#section .content .row{
    width:99%;
}
#section .card .one{
    background-color:#eeeeee;
}
#section .eg{
    margin-top:30px;
    line-height:30px;
    padding-bottom: 20px;
}
#section .eg span{
    border-left:3px solid #fa0c0c;
    padding-left:20px;
}
#section .card1 .col-md-2,#section .card1 .col-md-10{
    height:80px;
    line-height: 80px;
}
#section .title{
    border:2px solid #e77b18;
    display: inline-block;
    border-radius: 6px;
    padding:2px;
    line-height: 25px;
}
#section .title span{
    background-color: #e77b18;
    border-radius: 6px;
    color:#fff;
    padding:5px 10px;
    
}
#section .between .col-md-6{
    margin-top:30px;
    padding:10px;
}
#section .between .col-md-6 .between1{
    border:2px dotted #e77b18;
    border-radius: 6px;
    padding:30px 10px 0 10px;
    position:relative;
}
#section .between .col-md-6 .between1 .top{
    border:2px dotted #e77b18;
    border-radius: 6px;
    padding:5px 50px;
    position:absolute;
    top:-20px;
    z-index: 5;
    background-color: #fff;
    left:30%;
}
#section .plan {
    display: inline-block;
    border:2px solid #e77b18;
    border-radius: 6px;
    line-height: 40px
    padding:5px;
}
#section .plan span{
    background-color:#e77b18;
    padding:5px 20px;
    color:#fff;
}
#section .title_con{
    text-indent: 2em;
    font-weight: bold;
    color:#434343;
}
#section .more{
    text-align: center;
    line-height: 50px;
    color:#fa0c0c;
}
#section .egall{
    border:1px solid #f1f1f1;
    padding:10px;

}
#section .question{
     margin-top: 20px;
     border-bottom: 1px solid #f1f1f1;
     display: inline-block;
     width:30%;
     padding-bottom: 20px;
}
#section .question span{
    border-left:3px solid #fa0c0c;
    padding-left:30px;

}
#section .right ul li{
    background-image:url('../img/conduct/backgrund1.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
    padding:15px 70px;
    margin-bottom: 20px;
}
#section .right ul li .li_1{
    line-height: 50px;
    border-bottom: 1px solid #f1f1f1;
    color:#434343;
}
#section .right ul li .li_1 img{
    width:30px;
    height:30px;
    margin-right:20px;
}
#section .right ul li .col-md-2 img{
    width:80px;
    height:80px;
}
#section .right ul li .col-md-10 p:first-child{
    color:#fa0c0c;
}
#section .right ul li .col-md-10 p:last-child{
    font-size:12px;
}
#section .right ul li .message{
    text-align: right;
    font-size:18px;
    color:#fa0c0c;
}
