 #main{
             width: 50%;
             min-width: 1024px;
             margin:0 auto;
         }
         #banner{
             height: 450px;
         }
         #banner .bg_box{
             background: url(../img/bg.png);
             background-repeat: repeat;
         }
        #banner .img{
             background: url(../img/adviser.png) no-repeat;
            background-position: center -350px
         }
         #banner div{
             height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
         }
         #banner .txt{
             z-index: 3;
             
         }
         #banner .txt img{
             width: 200px;
             height: 200px;
             border-radius: 50%;
             
             border: 5px solid #e7141a;
         }
         #banner .txt p{
             color: #fff;
             line-height: 30px;
             font-size: 18px;
             position: relative;
         }
         #banner .txt .firm{
             font-size: 16px;
         }
         #banner .txt .name{
             font-size: 22px;
             font-weight: 500;
         }
         #banner .txt span,.an span{
             position: absolute;
             top: 17px;
             right: 7px;
             display: block;
             width: 30px;
             height: 30px;
             background: url(../img/an.png) no-repeat;
             background-size: cover;
             z-index: 6;
         }
         #banner .txt .img{
               width: 200px;
             height: 200px;
             margin: 80px auto 20px;
            background: transparent;
         }
       
         #nav_ad{
             background: #eeeeee;
             line-height: 50px;
         }
         #nav_ad ul{
             width: 50%;
             min-width: 1024px;
             margin: 0 auto;
         }
         #nav_ad li{
             width: 16.666666%;
             position: relative;
         }
         #nav_ad li.active a{
             color: #e84c56
         }
         #nav_ad li.active:before{
             content: '';
            display: block;
            height: 2px;
            width: 100%;
            background: #e84c56;
            position: absolute;
            right: 0px;
            bottom:0;
         }
          #nav_ad li:before{
             content: '';
            display: none;
            height: 2px;
            width: 100%;
            background: #e84c56;
            position: absolute;
            right: 0px;
            bottom:0;
         }
         #nav_ad li:hover:before{
               display: block;
         }
         #nav_ad li:hover a{
             color: #e84c56
         }
          .map_box{
            margin:35px 0;
        }
        .map_box p{
            font-size: 18px;
        }
        .map_box i{
            margin: 0 10px;
        }
        .map_box p.active,.map_box p.active i{
            color: #e7141a
        }
        
         #form p input[type='text'],#form textarea{
             width: 800px;
               min-height: 45px;
            
              padding: 5px 0 0 10px;
              background: #fcfcfc;
         }
         #form input[type='text']{
              background: #fcfcfc;
              min-height: 45px;
                line-height: 45px;
              padding-left: 10px;
         }
         #form .key{
             width: 100px;
             font-size: 20px;
             color: #434343;
             line-height: 45px;
             text-align: left;
             margin-right: 15px;
         }
         #form .theme{
             height: 250px;
         }
         #form .Apply{
             height: 150px;
         }
         #form .Education{
             height: 250px;
         }
         #form .message{
             height: 400px;
         }
         #form .message{
             height: 600px;
         }
         #form .message{
             height: 600px;
         }
         #form>div{
             margin-bottom: 15px;
         }
         #form input[type='submit']{
             width: 400px;
             line-height: 45px;
             background: #a0a0a0;
             border-radius: 50px;
             color: #fff;
             margin-top: 30px;
         }
         #form{
             margin-bottom: 100px;
         }
         
