#main{
            
             width: 50%;
             min-width: 1024px;
             margin: 222px auto 170px;
         }
        
         #main img,#main .img_bg{
             width: 200px;
             height: 200px;
             border-radius: 50%;
         }
         #main .img_bg{
             position: absolute;
             top: 0;
             left: 170px;
             background: url(../img/bg_.png);
             background-repeat: repeat;
             line-height: 200px;
         }
         #main .head{
             margin-bottom: 50px;
             position: relative;
         }
         #main .head p{
             color: #fff;
             font-size: 20px;
         }
        #main input[type='text'],#main input[type='tel'],#main input[type='email'],#main input[type='tel'],#main select{
             background: #f2f2f2;
            height: 50px;
            padding-left: 10px;
            width: 444px;
         }
         #main form div>span{
             display: inline-block;
             width: 90px;
             text-align: left;
             
         }
         #main form>div{
             margin-bottom: 25px;
         }
        
         #main .address input[type='text']{
             width: 100px;
         }
         #main .address span{
             width: 40px;
             text-align: center;
         }
         #main .sex{
             width: 444px;
         }
         #main input[type='submit']{
             background: #e7161a;
             color: #fff;
             padding: 16px 130px;
             border-radius: 50px;
             font-size: 18px;
         }
  .select{
    position: relative;
}
 .select i{
    position: absolute;
        top: 8px;
    right: 5px;
    color: #cecece;
    font-size: 2rem;
}
